.input{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    label{
        font-weight: 500;
        font-size: 16px;
    }
    input{
        all: unset;
        width: 50%;
        padding: 10px;
        border: 1px solid rgba(156, 156, 156, 0.308);
        border-radius: 10px;
    }

}
